.loginpage-login-container {
  position: flex;
}

.loginpage-username-password {
  display: flex;
  align-items: baseline;
  gap: 20px;
  font-size: 3rem;
}

.loginpage-input {
  border: none;
  border-bottom: 1px solid black;
  width: 60%;
  max-width: 400px;
  padding: 3px;
  text-align: center;
  font-size: 3rem;
  font-family: inherit;
}

.loginpage-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 50%;
  transform: translateX(
    -50%
  ); /*shifts back half the width to center*/
  gap: 16px;
}

.loginpage-button {
  align-content: center;
  font-size: 3rem;
  width: 400px;
  height: 100px;
  padding: 0px;
  border-radius: 35px;
  background-color: rgb(195, 193, 193);
}

input:focus {
  border-bottom: 1px solid black;
  outline: none;
}

.loginpage-button:visited {
  color: black;
}
