.loginpage-loginContainer {
  position: flex;
  top: 20%;
  left: 30%;
}

.loginpage-username-password {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 20px;
  font-size: 3rem;
}

.loginpage-input {
  border: none;
  border-bottom: 1px solid black;
  width: 60%;
  max-width: 400px;
  padding: 3px;
  text-align: center;
  font-size: 2rem;
}

.loginpage-login-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  text-align: center;
  transform: translateX(
    -50%
  ); /*shifts back half the width to center*/
  background-color: rgb(195, 193, 193);
  font-size: 3rem;
  width: 10%;
  height: 10%;
  padding: 0px;
  border-radius: 35px;
}

input:focus {
  border-bottom: 1px solid black;
  outline: none;
}
